#Base file is /index.php
DirectoryIndex index.php

# letsencrypt chalenge
Alias "/.well-known" "/letsencrypt/data/.well-known"


#Deny all files execept allow type under this instruction
<FilesMatch "\.*$">
    Deny from all
</FilesMatch>

#Allow DNS only "/"
<Files "">
    Allow from all
</Files>

#Allow specifics files extension
<FilesMatch "\.(png|jpg|gif|css|pdf|php|htm|html|js|svg|ico|txt|PDF|JPG|docx|xlsx)$">
    Allow from all
</FilesMatch>
